{% import "helpers/forms.twig" as forms %}

<form action="{{ form.action }}" method="post">
  <fieldset class="column-left">

    {{ forms.input('servername', form.servername, none, 'Servername', none, none, 'This information is just visual, it doesn\'t match the reverse of the server.', 'medium') }}

    {{ forms.input('ip', form.ip, none, 'IP address', none, {'text': 'Invalid format (xxx.xxx.xxx.xxx)', 'type': 'error'}) }}

    {{ forms.select('protocol', form.protocol, form.protocols, 'Protocol to get informations', none, none, none, none) }}

    {{ forms.input('user', form.user, none, 'User', none, none, none) }}

    {{ forms.input('password', form.passwd, 'password', 'Password', none, none, none) }}

    {{ forms.submit() }}

  </fieldset>
  <fieldset class="column-right">
    <p>
      <label>Software to monitor</label>
      {{ forms.checkbox('ftp', 'value', 'FTP', none, '(port 21)') }}
      {{ forms.checkbox('ssh', 'value', 'SSH', none, '(port 22)') }}
      {{ forms.checkbox('dns', 'value', 'DNS', none, '(port 53)') }}
      {{ forms.checkbox('http', 'value', 'HTTP', none, '(port 80)') }}
      {{ forms.checkbox('smtp', 'value', 'SMTP', none, '(port 25)') }}
      {{ forms.checkbox('pop', 'value', 'POP', none, '(port 110)') }}
      {{ forms.checkbox('imap', 'value', 'IMAP', none, '(port 143)') }}
    </p>
  </fieldset>

  <div class="clear"></div><!-- End .clear -->
</form>