{% extends "layouts/default.twig" %}

{% block title %}Configurations{% endblock %}

{% block content %}
<div class="clear"></div> <!-- End .clear -->

<div class="content-box"><!-- Start Content Box -->
  <div class="content-box-header">
    <h3>List of servers to monitor</h3>

    <ul class="content-box-tabs">
      <li><a href="#listing" class="default-tab">Listing</a></li> <!-- href must be unique and match the id of target div -->
      <li><a href="#form">Form</a></li>
    </ul>
    <div class="clear"></div>
  </div> <!-- End .content-box-header -->


  <div class="content-box-content">
    <div class="tab-content default-tab" id="listing">
      <table>
        <thead>
          <tr>
            <th><input class="check-all" type="checkbox" /></th>
            <th>Host</th>
            <th>IP</th>
            <th>Protocol</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <td colspan="7">
              <div class="bulk-actions align-left">
                <select name="dropdown">
                  <option value="option1">Choose an action...</option>
                  <option value="option2">Edit</option>
                  <option value="option3">Delete</option>
                </select>
                <a class="button" href="#">Apply to selected</a>
              </div>

              <div class="pagination">
                <a href="#" title="First Page">&laquo; First</a><a href="#" title="Previous Page">&laquo; Previous</a>
                <a href="#" class="number" title="1">1</a>
                <a href="#" class="number" title="2">2</a>
                <a href="#" class="number current" title="3">3</a>
                <a href="#" class="number" title="4">4</a>
                <a href="#" title="Next Page">Next &raquo;</a><a href="#" title="Last Page">Last &raquo;</a>
              </div> <!-- End .pagination -->
              <div class="clear"></div>
            </td>
          </tr>
        </tfoot>

        <tbody>
          {% for server in servers %}
            <tr>
              <td><input type="checkbox" /></td>
              <td>{{ server.servername|e }}</td>
              <td>{{ server.ip|e }}</td>
              <td>{{ server.protocol|e }}</td>
              <td>{{ server.created_at|date("d-m-Y H:m:s") }}</td>
              <td>{{ server.updated_at|date("d-m-Y H:m:s") }}</td>
              <td>
                 <!-- Icons -->
                 <a href="{{ app.url_generator.generate('configs.edit', {'ip': server.ip}) }}" title="Edit"><img src="{{ app.request.getBaseUrl() }}/img/icons/pencil.png" alt="Edit" /></a>
                 <a href="{{ app.url_generator.generate('configs.delete', {'ip': server.ip}) }}" title="Delete"><img src="{{ app.request.getBaseUrl() }}/img/icons/cross.png" alt="Delete" /></a>
               </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div> <!-- End #listing -->


    <div class="tab-content" id="form">
      <form action="#" method="post">
        <fieldset>

          <p>
            <label>Servername</label>
            <input class="text-input medium-input datepicker" type="text" id="medium-input" name="servername" />
            <br /><small>This information is just visual, it doesn't match the reverse of the server.</small>
          </p>

          <p>
            <label>IP address</label>
            <input class="text-input small-input" type="text" id="small-input" name="ip" />
          </p>

          <p>
            <label>Protocol to get informations</label>
            <select name="dropdown" class="small-input">
              <option value="0">SNMP</option>
              <option value="1">SSH</option>
              <option value="2">HTTP</option>
            </select> 
          </p>

          <p>
            <label>Software to monitor</label>
            <label for="ftp"><input type="checkbox" name="ftp" id="ftp" value="" /> FTP <small>(port 21)</small></label>
            <label for="dns"><input type="checkbox" name="dns" id="dns" value="" /> DSN <small>(port 53)</small></label>
          </p>

          <p>
            <input class="button" type="submit" value="Submit" />
          </p>

        </fieldset>

        <div class="clear"></div><!-- End .clear -->
      </form>
    </div> <!-- End #form -->




    <div class="tab-content" id="tmp">
      <form action="#" method="post">
        <fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->

          <p>
            <label>Small form input</label>
            <input class="text-input small-input" type="text" id="small-input" name="small-input" /> <span class="input-notification success png_bg">Successful message</span> <!-- Classes for input-notification: success, error, information, attention -->
            <br /><small>A small description of the field</small>
          </p>

          <p>
            <label>Medium form input</label>
            <input class="text-input medium-input datepicker" type="text" id="medium-input" name="medium-input" /> <span class="input-notification error png_bg">Error message</span>
          </p>

          <p>
            <label>Large form input</label>
            <input class="text-input large-input" type="text" id="large-input" name="large-input" />
          </p>

          <p>
            <label>Checkboxes</label>
            <input type="checkbox" name="checkbox1" /> This is a checkbox <input type="checkbox" name="checkbox2" /> And this is another checkbox
          </p>

          <p>
            <label>Radio buttons</label>
            <input type="radio" name="radio1" /> This is a radio button<br />
            <input type="radio" name="radio2" /> This is another radio button
          </p>

          <p>
            <label>This is a drop down list</label>              
            <select name="dropdown" class="small-input">
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
              <option value="option4">Option 4</option>
            </select> 
          </p>

          <p>
            <label>Textarea with WYSIWYG</label>
            <textarea class="text-input textarea wysiwyg" id="textarea" name="textfield" cols="79" rows="15"></textarea>
          </p>

          <p>
            <input class="button" type="submit" value="Submit" />
          </p>

        </fieldset>

        <div class="clear"></div><!-- End .clear -->
      </form>
    </div> <!-- End #form -->
  </div> <!-- End .content-box-content -->

</div> <!-- End .content-box -->
<div class="clear"></div><!-- End .clear -->
{% endblock %}