{% extends "layouts/default.twig" %}

{% block title %}{{ server.servername }}[{{ server.ip }}]{% endblock %}
{% block page_intro %}Details informations of {{ server.servername }}[{{ server.ip }}]{% endblock %}

{% block content %}
<div class="clear"></div> <!-- End .clear -->

<div class="content-box column-left"><!-- Start Content Box -->
  <div class="content-box-header">
    <h3>Softwares</h3>
    <div class="clear"></div>
  </div> <!-- End .content-box-header -->

  <div class="content-box-content">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Software</th>
          <th>Since</th>
        </tr>
      </thead>

      <tbody>
        {% for software in server.softwares %}
        <tr>
          <td><img src="{{ app.request.getBaseUrl() }}/img/icons/{{ software.status == true ? 'on' : 'off' }}.png" alt="off" /></td>
          <td>{{ software.name }}{% if software.port %} (:{{software.port}}){% endif %}</td>
          <td>{{ software.updated_at|date("d-m-Y H:m:s") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->


<div class="content-box column-right"><!-- Start Content Box -->
  <div class="content-box-header">
    <h3>Informations</h3>
    <div class="clear"></div>
  </div> <!-- End .content-box-header -->

  <div class="content-box-content">

    <p><strong>IP address</strong>: {{ server.ip }}</p>
    <p><strong>Protocol</strong>: {{ server.protocol }}</p>
    <p><strong>Last check</strong>: {{ server.last_check|date("d-m-Y H:m:s") }}</p>

  </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->


<div class="clear"></div>

<div class="content-box"><!-- Start Content Box -->
  <div class="content-box-header">
    <h3>Grahpics</h3>
    <div class="clear"></div>
  </div> <!-- End .content-box-header -->

  <div class="content-box-content">
    <h4>Traffic</h4>
    <img src="{{ app.request.getBaseUrl() }}{{ server.graphics_dir }}traffic-0.png" alt="">
    {# TODO Use configs for graphics Path AND apply md5 to ip for know the server graphics dir #}

    <hr />

    <h4>Memory</h4>
    <img src="{{ app.request.getBaseUrl() }}{{ server.graphics_dir }}memory-0.png">

    <hr />

    <h4>Charge</h4>
    <img src="{{ app.request.getBaseUrl() }}{{ server.graphics_dir }}uptime-0.png">

    <hr />

    <h4>CPU</h4>
    <img src="{{ app.request.getBaseUrl() }}{{ server.graphics_dir }}cpu-0.png">

    <hr />

    <h4>Disk space</h4>
    <img src="{{ app.request.getBaseUrl() }}{{ server.graphics_dir }}disk-0.png">
  </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->
{% endblock %}