{% extends "layouts/default.twig" %}

{% block title %}Servers > {{ server.servername }}[{{ server.ip }}]{% endblock %}
{% block page_intro %}Details informations of {{ server.servername }}[{{ server.ip }}]{% endblock %}

{% block content %}
<div class="clear"></div> <!-- End .clear -->

<div class="content-box column-left"><!-- Start Content Box -->
  <div class="content-box-header">
    <h3>Softwares</h3>
    <div class="clear"></div>
  </div> <!-- End .content-box-header -->

  <div class="content-box-content">
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Software</th>
          <th>Since</th>
        </tr>
      </thead>

      <tbody>
        {% for software in server.softwares %}
        <tr>
          <td><img src="{{ app.request.getBaseUrl() }}/img/icons/{{ software.status == true ? 'on' : 'off' }}.png" alt="off" /></td>
          <td>{{ software.label }}{% if software.port %} (:{{software.port}}){% endif %}</td>
          <td>{{ software.checked_at ? software.checked_at|date("d-m-Y H:m:s") : 'never checked' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->


<div class="content-box column-right"><!-- Start Content Box -->
  <div class="content-box-header">
    <h3>Informations</h3>
    <div class="clear"></div>
  </div> <!-- End .content-box-header -->

  <div class="content-box-content">

    <p><strong>IP address</strong>: {{ server.ip }}</p>
    <p><strong>Protocol</strong>: {{ server.protocol }}</p>
    <p><strong>Last check</strong>: {{ server.checked_at ? server.checked_at|date("d-m-Y H:m:s") : 'never checked' }}</p>
    <p><strong>Informations</strong>: of CPU, HDD, Memory / OS, Up time</p>

  </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->


<div class="clear"></div>

<div class="content-box"><!-- Start Content Box -->
  <div class="content-box-header">
    <h3>Traffic</h3>
    <div class="clear"></div>
  </div> <!-- End .content-box-header -->

  <div class="content-box-content">
    <img src="{{ app.request.getBaseUrl() }}{{ server.graphics_dir }}traffic-0.png" alt="">
  </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->


<div class="content-box"><!-- Start Content Box -->
  <div class="content-box-header">
    <h3>Memory</h3>
    <div class="clear"></div>
  </div> <!-- End .content-box-header -->

  <div class="content-box-content">
    <img src="{{ app.request.getBaseUrl() }}{{ server.graphics_dir }}memory-0.png">
  </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->


<div class="content-box"><!-- Start Content Box -->
  <div class="content-box-header">
    <h3>Load average</h3>
    <div class="clear"></div>
  </div> <!-- End .content-box-header -->

  <div class="content-box-content">
    <img src="{{ app.request.getBaseUrl() }}{{ server.graphics_dir }}uptime-0.png">
  </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->


<div class="content-box"><!-- Start Content Box -->
  <div class="content-box-header">
    <h3>CPU</h3>
    <div class="clear"></div>
  </div> <!-- End .content-box-header -->

  <div class="content-box-content">
    <img src="{{ app.request.getBaseUrl() }}{{ server.graphics_dir }}cpu-0.png">
  </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->
{% endblock %}